/*reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}
/*  */
.clear {
  clear: both;
}
.text-black {
  color: #000000 !important;
}

.row {
  margin-top: 32px;
}
.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  */
#all {
}
/* ở đây là các thuộc tính của trang đầu */
#menu {
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  position: fixed;
  z-index: 1;
}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#subnav2 > li > a {
  text-decoration: none;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav li:hover .subnav {
  display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  background-color: #8e8c8c;
  color: #000;
}
#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 100%;
  left: 0;
}

#nav .subnav > li > a {
  background-color: rgb(207, 207, 193);
  width: 100%;
}
#nav .subnav {
  width: 100%;
}

#nav .subnav a {
  color: #000;
  padding: 0 12x;
  line-height: 38px;
}

#nav .nav-down {
  font-size: 16px;
}
#menu .search-btn:hover {
  background-color: #f44709;
  cursor: pointer;
}
#menu .search-btn {
  float: right;
  font-size: 20px;
}
#menu .search-icon {
  color: #fff;
  line-height: 46px;
  padding: 0 21px 0 21px;
}
/* kết thúc  thanh menu tại đây*/
/* bat day slider */
#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url("../img/342732965_1638383366676634_6750563327740281687_n.jpg")
    top center / cover no-repeat;
  position: relative;
}
#slider .text-content {
  position: absolute;
  bottom: 48px;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
}
#slider .text1 {
  font-weight: 1000;
  font-size: 24px;
  font-style: oblique;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#slider .text2 {
  padding-top: 5px;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  color: #282726;
}
#content {
}
/* tạo nền màu đen cho phần show sản phẩm */
.Ground {
  background-color: #e9e7dc;
  text-decoration: none;
}
.outfit-list {
  background-color: rgb(0, 0, 0);
  color: #000;
  margin-top: 40px;
  list-style: none;
}
.outfit-list li {
  color: #fffafa;
  padding: 7px 16px;
  font-size: 15px;
  border-bottom: 1px solid #dddd;
}
.outfit-list li a {
  text-decoration: none;
}
.outfit-list .color,
.outfit-list .color1 {
  background-color: #f44709;
  color: #fff;
  padding: 4px;
  margin-left: 16px;
  border-radius: 90%;
}
.outfit-list .color1 {
  margin-left: 23px;
}
.outfit-list .mix {
  float: right;
  background-color: #f44709;
  color: #fff;
  width: 75px;
  height: 24px;
  border-radius: 90%;
  text-align: center;
  line-height: 24px;
  margin-top: -4px;
}
#content .titlepage {
  width: 800px;
  padding: 64px;
  margin-left: auto;
  margin-right: auto;
}
#content .tittle,
#content .slogan {
  text-align: center;
}
#content .tittle {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3 px;
  font-style: italic;
}
#content .slogan {
  font-size: 16px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}
#content .about {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}
#content .main-page {
  float: left;
}

#content .model-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 48px;
  /*overflow: hidden; overflow:hidden dùng để tắt float left làm cho thẻ cha ôm trọn thẻ con */
}

#content .model-items {
  /* width: calc(100% / 3); */
  /* float: left;
  text-align: center; */
  display: flex;
  align-items: center; /* can theo cot doc*/
  /*justify-content: center; /* can theo cot ngang*/
  flex-direction: column;
}

#content .model-list .model-img {
  margin-top: 15px;
  width: 150px;
  border-radius: 5px;
}

.show {
  width: 31.3333%;
  background-color: #fff;
}

.show-img {
  width: 100%;
}
.show-img:hover {
  filter: blur(1px);
}
.profile {
  padding: 16px;
}
.profile * {
  margin-top: 8px;
}
.profile > button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #000;
  padding: 16px;
  transition: linear 0.1s;
  cursor: pointer;
}
.profile > a:hover {
  background-color: #e9e7dc;
  color: #000;
}
.price {
  color: #e4754d;
}
#footer {
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
.modal.open {
  display: flex;
}
.modal-tuvan {
  background-color: #000000;
  color: #fff;
  width: 900px;
  max-width: calc(100%-32%);
  min-height: 200px;
  position: relative;
  animation: modalFacein ease 0.5s;
}
.modal-thongtin {
  background: #171614;
  height: 100px;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.modal-thongtin .ti-menu-alt {
  margin-right: 20px;
}
.modal .modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
  padding-top: 10px;
  opacity: 0.8;
}
.modal .modal-close :hover {
  opacity: 2;
  filter: brightness(200%);
}
.modal-body {
  padding: 10px;
  background-color: #f8824f;
}
.modal-ctm {
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 8px;
}
.fullctm {
  padding: 12px;
  border: 1px solid #ccc;
  width: 100%;
}
button#Send {
  background: #000;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 16px;
  margin-top: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.modal-footer {
  color: #fff;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  background-color: #f8824f;
}
button#Send :hover {
  opacity: 0.8;
}
.ti-help-alt {
  color: #fff;
}
.modal-help {
  padding: 4px;
  text-align: right;
}
.modal-help a {
  text-decoration: none;
}
.slogan {
  margin-bottom: 48px;
}

form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #010101;
  border-radius: 5px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

textarea {
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #060606;
  border-radius: 5px;
  resize: vertical;
}
.submit {
  background-color: black;
  border: none;
  color: white; /* Text color */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submit:hover {
  background-color: #000500;
}

@keyframes modalFacein {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
